snippet pubf "public function"
	public function ${1}(${2}): $3
	{
		${0}
	}

snippet prof "protected function"
	protected function ${1}(${2}): $3
	{
		${0}
	}

snippet prif "privat function"
	private function ${1}(${2}): $3
	{
		${0}
	}
